body{

    background:#eceff1;

    font-family:Arial,Helvetica,sans-serif;

    margin:0;

}

.container{

    width:90%;

    max-width:1000px;

    margin:auto;

    padding:20px;

}

h1{

    text-align:center;

}

input,textarea{

    width:100%;

    padding:10px;

    margin-top:10px;

    border-radius:8px;

    border:1px solid #ccc;

    box-sizing:border-box;

}

button{

    margin-top:15px;

    width:100%;

    padding:12px;

    border:none;

    background:#2196f3;

    color:white;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

}

button:hover{

    background:#1976d2;

}

.card{

    background:white;

    margin-top:20px;

    border-radius:10px;

    padding:15px;

    display:flex;

    gap:20px;

    align-items:center;

    box-shadow:0 0 10px rgba(0,0,0,.1);

}

.card img{

    width:120px;

    height:120px;

    object-fit:cover;

    border-radius:10px;

}

.info{

    flex:1;

}

.apagar{

    background:red;

    margin-top:10px;

}

.editar{

    background:green;

    margin-top:10px;

}